*{
  padding: 0;
  margin: 0;
}
body{ 
  background: #f9efe4;
  overflow-x: hidden;
}
.main-container{
 
  width: 100%;
}
header{
  background: #000;
  padding-bottom: 3rem;
}
nav{
  background: #f9efe4;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span{
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.1rem;
}
ul{
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
  font-size: 18px;
  margin-right: 4rem;
}
button:first-of-type{
  padding: 1rem 1.5rem;
  border-radius: 28px;
  background: inherit;
}
nav button:last-of-type{
  padding: 1.2rem 2.5rem;
  border-radius: 28px;
  background: #176ae5;
  color: #ffffff;
  border: none;
}

/* main */

main{
  text-align: center;
  padding: 5rem 1rem;

}
.main-text h1{
  font-size: 60px;
  font-weight: 200;
}
.main-text p{
  font-size: 18px;
  line-height: 30px;
  white-space: pre-line;
}
.main-input{
  margin: 3rem 0;
}
main input{
  padding:1rem;
  padding-right: 4rem;
  border-radius: 28px;
  position: relative; 
  background: inherit; 
}
main button:first-of-type{
  position: sticky;
  right: 650px;
  bottom: 31rem;
  border: none;
  background: #176ae5;
  color: #ffffff;
  padding: 1.1rem 1.5rem;
  border-radius: 32px;
}
.main-input img{
  margin-top: 5rem;
}
figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center; 
}
.main-img1{
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ffffff;
  padding: 1rem 1rem;
  width: 26%;
  background: #ffffff;
}
.main-img2{
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ffffff;
  padding: 1rem 1rem;
  width: 26%;
  background: #ffffff;
}
.main-img3{
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ffffff;
  padding: 1rem 1rem;
  width: 26%;
  background: #ffffff;
}
aside{
  text-align: center;
  padding: 5rem;
}
.aside-image{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
section{
  padding: 4rem 1rem;
}
.section-header{
  text-align: center;
}
section h2{
  font-size: 50px;
  font-weight: 400;
}
section p{
  margin: 1rem 0;
}
.section-aside{
  margin-top: 4rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section-aside ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}
.section-aside li:hover{
  background: #ffffff;
  padding: 0.5rem;
  padding-right: 3rem;
}
.templates{
  margin: 8rem 0;
}
.templates-header{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; 
}
.templates-header button{
  padding: 0.9rem 4rem;
}
.templates-images{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pink-circle{
  left: 24rem;
  padding: 1rem;
  border: 1px solid palevioletred;
  width: 1px;
  border-radius: 50px;
  background: palevioletred;
  position: relative;
}
.pink-circle p{
  position: absolute;
  left: 2.4rem;
  bottom: 1.8rem;
}
.blue-circle {
  margin-top: 3rem;
  padding: 1rem;
  border: 1px solid  #3b3bf6;
  width: 1px;
  border-radius: 50px;
  background: #3b3bf6;
  position: relative;
  right: 20rem;
}
.blue-circle p{
  position: absolute;
  right: 2.4rem;
  bottom: 1.8rem;
}
.templates-figure{
  display: flex;
  gap: 5rem;
}
.templates-figure figure{
  display:flex;
  align-items: center;
  flex-direction: column-reverse;
  border: 1px solid #ffffff;
  padding: 0.5rem;
  background-color: #ffffff;
}
.templates-figure figcaption{
  width:70%;
}
.orange-circle{
  left: 20rem;
  padding: 1rem;
  border: 1px solid #f76d3b;
  width: 1px;
  border-radius: 50px;
  background: #f76d3b;
  position: relative;
}
.orange-circle p{
  position: absolute;
  left: 2.4rem;
  top: 1.8rem;
}
.ideas{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.ideas button{
  color: #ffffff;
  background: #176ae5;
  border:none;
}
.video{
  background: #000;
  width: 90%;
  height: 90vh;
  margin-bottom: 3rem;
}
.speech{
  text-align: center;
  margin: 8rem 0;
}
.subcription-plan{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 4rem 0;
}
.plan-header{
  width: 27%;
}
.plan-header h2{
  font-size: 45px;
  font-weight: 500;
}
.plan-header p{
  margin: 4rem 0;
  font-size: 20px;
}
.plan-header button:first-of-type{
  background: #176ae5;
  border: none;
  margin-right: 2rem;
}
.plan-header button:last-of-type{
  padding: 0.9rem 2rem;
  background: inherit;
  border-radius: 28px;
}
.plan-box{
  border: 3px solid #000;
  text-align: center;
  padding: 2rem;
  border-radius: 12px;
  
}
.plan-box h2{
  font-size: 32px;
  font-weight: 200;
  margin: 1rem 0;
}
.plan-box p{
  margin-bottom: 3rem;
}
.plan-box hr{
  border: 1px solid;
  margin: 2rem;
}
.plan-box h1{
  font-size: 46px;
  margin-bottom: 2rem;
}
.plan-box h6{
  font-size: 20px;
  font-weight: 200;
}
.plan-boxs{
  border: 3px solid #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 12px;
  background: #ffffff;
}
.plan-boxs h2{
  font-size: 36px;
  font-weight: 200;
  margin: 1rem 0;
}
.plan-boxs p{
  margin-bottom: 3rem;
}
.plan-boxs hr{
  border: 1px solid;
  margin: 2rem;
}
.plan-boxs h1{
  font-size: 46px;
  margin-bottom: 2rem;
}
.plan-boxs h6{
  font-size: 20px;
  font-weight: 200;
}
.team-reviews{
  margin: 8rem 3rem;
}
.team-reviews h2{
  text-align: center;
  font-size: 30px;
  margin: 3rem 0;
}
.review-boxs{
  display: grid;
  grid-template-columns:repeat( 3, 1fr) ;
  gap: 2rem;
}
.review-boxs .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  background: #fff; 
  padding: 2rem 0;
}
.class{
  display: flex;
  align-items: center;
  font-size: 26px;
  margin-left: 8rem;
}
.box .box-words{
  width: 80%
}
.box span{
  font-size: 16px;
  font-weight: 100;
  background-color: pink;
}
.box-section{
  display: flex;
  gap: 3rem;
  margin:2.5rem 0;
}
.box-section p{
  line-height: 20px;
  text-transform: uppercase;
}
.signin-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signin-section h2{
  margin-bottom: 2rem;
}
.signin-section button{
  margin: 3rem 0;
  padding: 0.8rem 4rem;
  background: #176ae5;
  border: none;
  color: #fff;
}
footer{
  margin: 5rem 2rem;
  width: 100%;

}
.footer-nav{
  display: flex;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.footer-nav ul{
  display: flex;
  flex-direction: column;
}
.footer-nav li{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.footer-nav input{
  padding: 1rem 3rem;
  border-radius: 28px;
}
.footer-nav .text{
  width: 70%;
}
footer hr{
  margin: 3rem 0;
}
.bottom-nav{
  display: flex;
  justify-content: space-between;
}