* {
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(165deg, #f9efe4 92%, #fff calc(70% + 2px));
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}
span {
  font-weight: 600;
  font-size: 40px;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
  font-size: 18px;
}
button:first-of-type {
  padding: 1rem 1.5rem;
  border-radius: 28px;
  background: inherit;
}
nav button:last-of-type {
  padding: 1.2rem 2.5rem;
  border-radius: 28px;
  background: #176ae5;
  color: #ffffff;
  border: none;
}
.mobile-visibility {
  display: none;
}
.header-break {
  background: #000;
  padding: 2rem;
}

/* main */

main {
  text-align: center;
  padding: 5rem 1rem;
}
.main-text h1 {
  font-size: 60px;
  font-weight: 200;
}
.main-text p {
  font-size: 18px;
  line-height: 30px;
  white-space: pre-line;
}
.main-input {
  margin: 3rem 0;
}
main input {
  position: relative;
  padding: 1rem;
  padding-right: 4rem;
  border-radius: 28px;
  background: inherit;
}
main button:first-of-type {
  position: sticky;
  right: 650px;
  bottom: 31rem;
  border: none;
  background: #176ae5;
  color: #ffffff;
  padding: 1.1rem 1.5rem;
  border-radius: 32px;
}
main button:first-of-type:hover {
  cursor: pointer;
}
.main-input img {
  margin-top: 5rem;
  width: 80%;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-george {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  width: 36%;
  background: #ffffff;
}
figure p {
  width: 60%;
}

/* aside */
aside {
  text-align: center;
  padding: 5rem;
}
.aside-image {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
/* section */
section {
  padding: 4rem 1rem;
}
.section-header {
  text-align: center;
}
section h2 {
  font-size: 50px;
  font-weight: 400;
}
section p {
  margin: 1rem 0;
}
.section-aside {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
  gap: 1.5rem;
}
.section-aside ul {
  margin-top: 2rem;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 3.8rem;
}
.section-aside li:hover {
  background: #ffffff;
}
.section-aside img {
  width: 80%;
}
.templates {
  margin: 4rem 0;
}
.templates-header {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.templates-header button {
  padding: 0.9rem 4rem;
}
.templates-images {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.templates-images img{
  width: 100%;
}
.ideas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.ideas button {
  color: #ffffff;
  background: #176ae5;
  border: none;
}
.video {
  background: #000;
  width: 90%;
  height: 90vh;
  margin-bottom: 3rem;
}
.speech {
  text-align: center;
  margin: 8rem 0;
}
.subcription-plan {
  display: flex;
  gap: 4rem;
  margin: 8rem;
  align-items: center;
}

.plan-header h2 {
  font-size: 45px;
  font-weight: 500;
}
.plan-header p {
  margin: 4rem 0;
  font-size: 20px;
}
.plan-header button:first-of-type {
  background: #176ae5;
  border: none;
  margin-right: 2rem;
}
.plan-header button:last-of-type {
  padding: 0.9rem 2rem;
  background: inherit;
  border-radius: 28px;
}
.plan-box {
  display: flex;
  gap: 0.5rem;
}
.plan-box1 {
  border: 3px solid #000;
  text-align: center;
  padding: 2rem;
  border-radius: 12px;
}
.plan-box1 h2 {
  font-size: 32px;
  font-weight: 200;
  margin: 1rem 0;
}
.plan-box1 p {
  margin-bottom: 3rem;
}
.plan-box1 hr {
  border: 1px solid;
  margin: 2rem;
}
.plan-box1 h1 {
  font-size: 46px;
  margin-bottom: 2rem;
}
.plan-box1 h6 {
  font-size: 20px;
  font-weight: 200;
}
.plan-box2 {
  border: 3px solid #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 12px;
  background: #ffffff;
}
.plan-box2 h2 {
  font-size: 36px;
  font-weight: 200;
  margin: 1rem 0;
}
.plan-box2 p {
  margin-bottom: 3rem;
}
.plan-box2 hr {
  border: 1px solid;
  margin: 2rem;
}
.plan-box2 h1 {
  font-size: 46px;
  margin-bottom: 2rem;
}
.plan-box2 h6 {
  font-size: 20px;
  font-weight: 200;
}
.team-reviews {
  margin: 8rem 3rem;
}
.team-reviews h2 {
  text-align: center;
  font-size: 30px;
  margin: 3rem 0;
}
.review-boxs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.review-boxs .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  background: #fff;
  padding: 2rem 0;
}
.class {
  display: flex;
  align-items: center;
  font-size: 26px;
  margin-left: 8rem;
}
.box .box-words {
  width: 80%;
}
.box span {
  font-size: 16px;
  font-weight: 100;
  background-color: pink;
}
.box-section {
  display: flex;
  gap: 3rem;
  margin: 2.5rem 0;
}
.box-section p {
  line-height: 20px;
  text-transform: uppercase;
}
.signin-section {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signin-section h2 {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 45px;
}
.signin-section button {
  margin: 3rem 0;
  padding: 0.8rem 4rem;
  background: #176ae5;
  border: none;
  color: #fff;
}
footer {
  padding: 5rem 2rem;
  width: 100%;
}
.footer-nav {
  display: flex;
  margin-bottom: 2rem;
}
.footer-nav ul {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 1rem;
}
.footer-nav li {
  display: flex;
  text-align: center;
}
.footer-nav input {
  padding: 1rem 3rem;
  border-radius: 28px;
}
.footer-nav .text {
  width: 15%;
}
footer hr {
  margin: 3rem 0;
}
.bottom-nav {
  display: flex;
  justify-content: space-between;
  padding-right: 4rem;
}
.bottom-nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

/* smart phones */
@media only screen and (max-width: 768px) {
  /* header */
  .mobile-visibility {
    display: flex;
  }
  nav {
    gap: 1rem;
  }
  nav ul {
    display: none;
  }
  .mobile-visibility ul {
    display: none;
    flex-direction: column;
    line-height: 1px;
    font-size: 16px;
    color: #fff;
    background: #3b3bf6;
    padding: 0.9rem;
    border-radius: 12px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .mobile-visibility ul li:hover {
    color: #f76d3b;
  }
  .bar {
    font-size: 20px;
    display: block;
  }
  .mobile-visibility ul.show {
    display: flex;
  }

  .mobile-visibility button:first-of-type {
    padding: 0.5rem;
    border-radius: 30px;
    background: inherit;
  }
  .mobile-visibility button:last-of-type {
    padding: 0.7rem;
    border-radius: 30px;
    background: #176ae5;
    color: #ffffff;
    border: none;
  }
  main button:first-of-type {
    position: unset;
  }
  .aside-image {
    flex-direction: column;
  }
  section h2 {
    font-size: 40px;
  }
  .section-aside {
    flex-direction: column;
    align-items: center;
  }
  .section-aside ul {
    line-height: 2rem;
    font-size: 16px;
  }

  .subcription-plan {
    flex-direction: column;
  }
  .plan-box {
    flex-direction: column;
  }
  .plan-header button:first-of-type {
    margin-bottom: 2rem;
  }
  .review-boxs {
    grid-template-columns: repeat(1, 1fr);
  }
  .text input{
    font-size: 10px;
    padding: 1rem 2rem;
  }
  .footer-nav {
    flex-direction: column;
    gap: 4rem;
  }
  .bottom-nav {
    flex-direction: column;
    gap: 1rem;
  }
}

/* tablets */
@media only screen and (min-width: 769px) and ((max-width: 991px)) {
  .mobile-visibility {
    display: flex;
  }
  nav {
    gap: 1rem;
  }
  nav ul {
    display: none;
  }
  .mobile-visibility ul {
    display: none;
    flex-direction: column;
    line-height: 2px;
    color: #fff;
    background: #3b3bf6;
    padding: 0.9rem;
    border-radius: 12px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .mobile-visibility ul li:hover {
    color: #f76d3b;
  }
  .bar {
    font-size: 24px;
    display: block;
  }
  .mobile-visibility ul.show {
    display: flex;
  }
  .mobile-visibility button:first-of-type {
    border-radius: 30px;
    background: inherit;
  }
  .mobile-visibility button:last-of-type {
    border-radius: 30px;
    background: #176ae5;
    color: #ffffff;
    border: none;
  }
  main button:first-of-type {
    position: unset;
  }
  .aside-image {
    flex-direction: column;
  }
  section h2 {
    font-size: 40px;
  }
  .section-aside {
    flex-direction: column;
    align-items: center;
  }
  .section-aside ul {
    line-height: 2rem;
    font-size: 16px;
  }
  .subcription-plan {
    flex-direction: column;
  }
  .plan-box {
    flex-direction: column;
  }
  .plan-header button:first-of-type {
    margin-bottom: 2rem;
  }
  .review-boxs {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-nav {
    flex-direction: column;
    gap: 4rem;
  }
  .bottom-nav {
    flex-direction: column;
    gap: 1rem;
  }
}

/* laptops */
@media only screen and (min-width: 992px) and ((max-width: 1023px)) {
  .visible ul {
    gap: 1rem;
  }
  .aside-image {
    gap: 1.2rem;
  }
  .footer-nav input {
    padding: 1rem 2rem;
  }
}

/* larger/desktop */
@media only screen and (min-width: 1024px) {
}
